html {
  font-size: 62.5%;
}

body {
  background: darken(white, 20%);
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
  // Disabled
  &:disabled {
    cursor: default;
  }
}
